* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}

body {
    background-color: whitesmoke;
    max-height: 100vh;
    max-width: 100vw;
    /*! padding: 1em; */
    transition: .3s;
    /*! border: 2px solid red; */
}

header {
    width: inherit;
    /*! padding: 5px 0 5px 0; */
    height: 8vh;
    background-color: whitesmoke;
    border-bottom: 1px solid #0071c5;
    /*! box-shadow: 0px -10px 20px black; */
    display: flex;
    justify-content: center;
    align-items: center;
}  


.logo {
    max-width: 50vw;
    background-image: url('../img/logo-modern3.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: inherit;
    display: inline-block;
    background-position: center;
    max-height: 7vh;
}

nav {
    position: fixed;
    bottom: 0px;
    height: 8vh;
    width: 100%;
    border-top: 1px solid gainsboro;
    /*! display: none; */
    font-size: .8em;
    background-color: #0071c5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: inherit;
    align-items: center;
}

nav ul .btn {
    width: 15%;
    text-align: center;
    border: 0px solid #a2a2a2;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 80%;
    border-radius: 15px;
    background: linear-gradient(145deg, #0079d3, #0066b1);
    box-shadow:  5px 5px 6px #0063ad, -5px -5px 6px #007fdd;
}

nav ul .active {
    background: linear-gradient(145deg, #0066b1, #0079d3);
    box-shadow:  5px 5px 6px #0063ad, -5px -5px 6px #007fdd;
}

nav a {
    text-decoration: none;
    /*! text-shadow: 0 0 0px #005187; */
    /*! color: #004579; */
    /*! font-size: 4vh; */
    /*! padding: 5px 25px 4px 25px; */
    color: whitesmoke;
}

nav a p {
    /*! visibility: hidden; */
    /*! font-size: 0; */
}

/* main {
    background-image: url('../img/service.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: 50vh;
    background-position: center;

} */

main {
    width: inherit;
    height: inherit;
}

main img {
    width: 100%;
    height: auto;
    border-top: 0.1px solid #005187;
}

main h1 {
    color: #00416d;
    text-shadow: 0 0 0px #0071c5;
    font-family: ubuntu;
    padding: .4em;
}

main p {
    color: #004a81;
    font-size: 20px;
    padding: .7em;
    text-align: justify;
    font-family: ubuntu;
}

main div {
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    border-top: 21px solid #0071c5;
    margin-top: -5px;
    transition: .3s ease-in;
}

@media (min-width: 683px) {

    header {
        border: 0;
        height: 10vh;
        transition: .2s;
    }

    nav {
        height: 6vh;
        width: 80%;
        position: unset;
        border: 0;
        margin: auto;
        background-color: whitesmoke;
    }

    nav ul .btn {
        background: whitesmoke;
        box-shadow: none;
    }

    nav i {
        font-size: 0;
        display: none;
    }

    nav a {
        padding: 0;
        width: 80%;
        height: 100%;
        display: grid;
        align-items: center;
    }

    nav a p {
        /*! visibility: visible; */
        font-size: 2vh;
        font-family: ubuntu;
        color: #005187;
    }

    main div{
        transition: .3s;
        position: absolute;
        left: 40vw;
        top: 330px;
        width: 44vw;
        opacity: 0.7;
        border-radius: 15px;
    }

    main h1{
        font-size: 3.5vw;
        transition: .2s;
    }

    main p{
        font-size: 2.4vw;
        text-shadow: 0 0 60px black;
    }
}

@media (min-width: 800px) {
    main p {
        font-size: 2vw;
    }
}

@media (min-width: 1350px) {
    body {
        max-width: 75vw;
        margin: auto;
        transition: .3s;
    }
    
    main h1 {
        font-size: 3.3vw;
        transition: .2s;
        width: 90%;
        margin: auto;
    }
    
    main p{
        font-size: 1.5vw;
        /*! text-shadow: 0 0 60px black; */
    }
}
